<div class="w-full max-w-xs">
  <form class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-6">
    <h2 class="login-header">Sign up</h2>
    <input 
      type="text" 
      class="shadow appearance-none border border-blue rounded w-full p-1 text-grey-darker mb-3 leading-tight focus:outline-none focus:shadow-outline" 
      placeholder="Screen Name" 
      [formControl]="name"
    >
    <input 
      type="email" 
      class="shadow appearance-none border border-blue rounded w-full p-1 text-grey-darker mb-3 leading-tight focus:outline-none focus:shadow-outline"
      placeholder="Email address" 
      [formControl]="email"
    >
    <input 
      type="text" 
      class="shadow appearance-none border border-blue rounded w-full p-1 text-grey-darker mb-3 leading-tight focus:outline-none focus:shadow-outline"
      placeholder="Link to your Avatar" 
      [formControl]="avatar"
    >
    <button 
      (click)="signUp()" 
      class="bg-blue hover:bg-blue-dark text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="button"
    >Submit</button>
  </form>
</div>