<div class="flex p-2">
    <div class="w-5/6 h-12">
        <input type="text"
            class="shadow appearance-none border rounded w-full py-2 px-3 text-grey-darker leading-tight focus:outline-none focus:shadow-outline" 
            [(ngModel)]="search" 
            name="searchInput" 
            placeholder="Search Github">
    </div>
    <div class="w-1/6 h-12 p-1">
        <button name="searchButton" class="bg-blue hover:bg-blue-darkest text-white hover:text-white font-bold py-2 px-4 rounded" (click)="doSearch()">Search</button>
    </div>
</div>
<div *ngIf="loading" class="content-center">
    <img src="assets/loader.gif" class="loading" />
</div>
