<div id="pagination" class="mb-4 p-2">
  <a *ngIf="pageNumber > 1" class="customLink" (click)="traversePage(prevPage)" name="pagingBtn"><<</a> &nbsp;
  Page {{pageNumber}} of {{pageCount}} 
  <a *ngIf="nextPage < pageCount" class="customLink"  (click)="traversePage(nextPage)" name="pagingBtn"> >></a> &nbsp; 
  <span name="totalCount"> &nbsp; | &nbsp; {{totalCount}} results</span>
</div>
<div class="flex  flex-wrap mb-4">
    <div class="w-1/4 mb-3" *ngFor="let user of users">
        <app-user [user]="user"></app-user>
    </div>
</div>
<div *ngIf="loading" class="loadingDiv">
  <img src="assets/loader.gif" class="loading" />
</div>
