<div class="row">
    <div class="col-xs-10 col-sm-10 col-md-10">
        <input type="text" class="form-control" [(ngModel)]="search" name="searchInput" placeholder="Search Github">
    </div>
    <div class="col-xs-2 col-sm-2 col-md-2">
        <button name="searchButton" class="btn btn-default" (click)="doSearch()">Search</button>
    </div>
</div>
<div name="pagination">
    <button *ngIf="pageNumber > 1" (click)="traversePage(prevPage)" name="pagingBtn">Prev</button>
    Page {{pageNumber}} of {{pageCount}} 
    <button *ngIf="nextPage < pageCount" (click)="traversePage(nextPage)" name="pagingBtn">Next</button>
    <span name="totalCount">({{totalCount}} results found)</span>
    <div name="resultsTable" class="row">
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4" *ngFor="let result of users">
            <app-user [user]="result"></app-user>
        </div>
    </div>
</div>